<div class="container">
<%= render "layouts/flash" %>
</div>
<div align="center", class="col-md-12">
  <h1>Send Us a Message</h1>
  <div>
      *denotes a required field
  </div></br>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :email, label: "", placeholder: "email" %>
    <%= f.input :message, :as => :text, label: false, placeholder: "your message"  %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send Message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
