<div class="container">
<%= render "layouts/flash" %>
</div>

<body>
  <div class="text-center">
    <h1>Your API Keys, <%=current_user.first_name%></h1>

    <hr>

    <%= link_to "Create API Key", api_keys_path, method: :post, class: "btn btn-success" %>

    <% if current_user.api_keys.empty? %>
      <h3>You don't have any API keys yet</h3>
    <% else %>
      <% current_user.api_keys.each do |api_key| %>
        <h3 class="token"><%= api_key.token %></h3>
        <h4><%= time_ago_in_words(api_key.created_at) %> ago</h4>
        <%= link_to "Delete", api_key_path(api_key), method: :delete %>
      <% end %>
    <% end %>
  </div>
</body>
