<body>
    <div class='navbar navbar-default navbar-static-top'>
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class='navbar-brand' href="/">BetterSpace</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/complaints">Map</a></li>
            <li><a href="#">About</a></li>
            <%if current_user%>
            <li class="active"><%= link_to "Developer", api_keys_path %></li>
            <li><a href="logout">Sign Out</a></li>
            <%else%>
            <li><a href="login">Sign in</a></li>
            <%end%>
          </ul>
          <%if current_user%>
            <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%=current_user.name%></a></p>
          <%else%>
            <p class="navbar-text navbar-right">Your are not <a href="login">signed in</a></p>
          <%end%>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div class="text-center">
    <h1>Your API Keys</h1>

    <hr>

    <%= link_to "Create API Key", api_keys_path, method: :post, class: "btn btn-success" %>

    <% if current_user.api_keys.empty? %>
      <h3>You don't have any API keys yet.</h3>
    <% else %>
      <% current_user.api_keys.each do |api_key| %>
        <h3><%= api_key.token %></h3>
        <h4><%= time_ago_in_words(api_key.created_at) %> ago</h4>
        <%= link_to "Delete", api_key_path(api_key), method: :delete %>
      <% end %>
    <% end %>
  </div>
</body>
